// button{
//   background: rgb(1, 29, 51);
//   border-color: transparent;
//   color: #fff;
//   cursor: pointer;
// }
.welcome-header{
  text-align: center;
  padding-top: 1%;
  background-color:#000000d9;
  width: auto;
  margin-top: auto;
  color: white;
}

.exit{
  position: absolute;
  left: 95%;
  top: 5%;
}

.background1{
  background: url('https://moemisto.ua/img/cache/event_huge/event/0002/66/07f9b58ee4361516d648405230762a72d909b09f.jpeg?hash=2018-04-11-11-18-43');
  background-size: 100%;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

// .userdata {
//   flex-wrap: wrap;
// }
// .userinfo_area {
//   display: flex;
//   flex-wrap: wrap;
// };

.upload_area {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: rgba(178, 173, 245, 0.67);
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom:2%;
  width: 40%; 
};

img{
height: auto !important
}

.userinfo_middle_new {
  display: block;
    padding-left: 3%;
    margin-top: 5%;
    text-align: left;
}

.info-user[_ngcontent-c1] {
  color: white;
  background: #0000009e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
  top: -16%;
  left: 65%;
  margin-top: 2%;
  padding: 2%;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .info-user {
//   color: white;
//   background: #0000009e;
//   width: fit-content;
//   margin:auto;
//   margin-top: 2%;
//   padding: 2%;
//   border-radius: 2px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

// }
.title {
  color: #b7b7b7;
  font-size: 1em;
}

.info {
  width: 100%;
  margin-top: 2%;
}

.userinfo_left[_ngcontent-c1] {
  color: white;
  position: fixed;
  background: #0000009e;
  width: 25%;
  padding: 2%;
  margin-left: 2%;
  border-radius: 2px;
  justify-content: center;
  align-content: center;
}

// .userinfo_left{
// color: white;
//   background: #0000009e;
//   width: 25%;
//   padding: 2%;
//   margin-left: 2%;
//   border-radius: 2px;
//   justify-content: center;
//   align-content: center;
// };

.userinfo_middle[_ngcontent-c1] {
  color: white;
  position: fixed;
  background: #0000009e;
  width: 25%;
  margin-top: 2%;
  padding: 2%;
  top: 42%;
  margin-left: 2%;
  border-radius: 2px;
  justify-content: center;
  align-content: center;
}

// .userinfo_middle {
//   color: white;
//   background: #0000009e;
//   width: 25%;
//   margin-top: 2%;
//   padding: 2%;
//   margin-left: 2%;
//   border-radius: 2px;
//   justify-content: center;
//   align-content: center;
// };

// .userinfo_right {
//     margin-top: 3%;
//     margin-bottom: 1%;
//     position: relative;
//     top: -400px;
// }

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
}
.usercontent{
  display: flex;
    flex-wrap: wrap;
}
.background2{
  background: #00000024;
  padding-top: 2%;
  min-height: 100vh;
  height: 100%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  width: 25%;
    top: 14%;
    left: 38%;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  
}

.cover {
  display: block;
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    }

    .qrCode[_ngcontent-c1] {
      color: white;
      display: flex;
      position: fixed;
      top: 35%;
      left: 79%;
      width: 240px;
      margin: auto;
      background-color: rgba(19, 23, 24, 0.67);
      padding: 20px;
      text-align: center;
      flex-direction: column;
      height: 287px;
      justify-content: center;
  }

// .qrCode {
//   color: white;
//   display: flex;
//   width: 240px;
//   margin: auto;
//   background-color: rgba(19, 23, 24, 0.67);
//   padding: 20px;
//   text-align: center;
//   flex-direction: column;
//   height: 287px;
//   justify-content: center;
// }


.btn{
  margin: auto;
  margin-bottom: 3%;
}

.tools[_ngcontent-c1] {
  position: fixed;
  left: 70%;
  margin: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

// .tools{
//   margin: auto;
//   width: 30%;
//   display: flex;
//   flex-direction: column;
//   align-content: center;
//   justify-content: center;
// }

/* Add styles to the form container */
.form-container {
  color: white;
  width: 100%;
  padding: 10px;
  background-color: rgba(19, 23, 24, 0.88);
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.btns {
  width: 75px;
    margin: auto;
    margin-bottom: 0%;
}

.button-ua {
  background-image: url(/src/assets/img/uk_ua.gif);
  background-repeat: no-repeat;
  background-size: 70%;
  width: 33px;
    height: 22px;
  background-position: center;
  background-color: transparent;
  border: none;
  margin: 2%;
}
.mesbtn {
  margin-left: 11%;
}
.button-en {
  background-image: url(/src/assets/img/en.gif);
  background-repeat: no-repeat;
  background-size: 70%;
  width: 33px;
  background-color: transparent;
  height: 22px;
  background-position: center;
  border: none;
}

.textarea{
resize: none;
outline: none;
width: 100%;
  height: 150px;
overflow: auto;
border-radius: 4px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .tools{
    margin: auto;
    top: 87%;
    right: 8%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center
}

.qrCode {
  color: white;
    display: flex;
    top: 100%;
    left: 13%;
    position: absolute;
    width: 250px;
    margin: auto;
    background-color: rgba(19, 23, 24, 0.67);
    padding: 20px;
    text-align: center;
    flex-direction: column;
    height: 287px;
    justify-content: center;
}

.userinfo_middle{
  color: white;
    background: #0000009e;
    width: 100%;
    position: absolute;
    top: 66%;
    margin-top: 2%;
    padding: 2%;
    margin-left: 0%;
    border-radius: 2px;
    justify-content: center;
    align-content: center;
}

.userinfo_right {
    margin-top: 3%;
    margin-bottom: 1%;
    position: relative;
    top: -400px;
}

.userinfo_left {
  color: white;
  background: #0000009e;
  width: 100%;
  padding: 2%;
  margin-left: 0%;
  border-radius: 2px;
  justify-content: center;
  align-content: center;
}

.info-user {
  color: white;
  background: #0000009e;
  width: fit-content;
  margin:auto;
  margin-top: 2%;
  padding: 2%;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background1 {
  background-position: center;
  min-height: 400vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.background2 {
  background: #00000024;
  padding-top: 0%;
  min-height: 100vh;
  height: 100%;
}

.userinfo_middle_new {
    width: 100%;
    top: 157%;
    position: absolute;
    margin-top: 5%;
    text-align: left;
    padding-left: 0%;
};

.btn {
  /* margin: auto; */
  /* margin-bottom: 3%; */
  margin-right: 3.2%;
  height: 60px;
}

.btn-group-lg>.btn, .btn-lg {
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.exit {
 position: static;
}

img[_ngcontent-c1] {
  /* height: auto !important; */
  height: 200px;
  width: 200px;
}
  //CSS
  
}