
<div class="welcome-header">
  <h1>
    {{'TITLE'| translate}} {{person.firstname}}
  </h1>
  <div class="exit">
  <button type="button" class="btn btn-outline-light" (click)="logout()">{{'EXIT' | translate}}</button>
</div>
  <div class="btns">
      <button class="button-ua" (click)="setLangUA('ua')"></button>
      <button class ="button-en"(click)="setLangEN('en')"></button>
  </div>
</div>
<div class="background1">
<div class="background2">
        <div class="usercontent">
      <div class="userinfo_left">
      <b> {{'DATAPER'| translate}}</b>
        <div>
          <b>
            {{person.firstname}} {{person.patronymic}} {{person.lastname}}
          </b>
        </div>
        <div>
          {{'BIRTH'| translate}}
          <b> {{person.birthdate | date: 'mediumDate'}} </b>
        </div>
        <div>
          Email:
          <b> {{person.email}} </b>
        </div>
        <div>
          {{'PHONE_NUMBER'| translate}}
          <b> {{person.mobilephone}} </b>
        </div>
      </div>
      <div class="tools" >
        <button type="button" class="btn btn-secondary btn-lg" (click)="openForm()">{{'CHANGE_BUTTN'| translate}}</button>
        <button type="button"class="btn btn-secondary btn-lg" (click)="messageForm()">{{'MSG_BUTTN'| translate}}</button>
    </div>
    <div class="userinfo_middle_new">
        <div class="info-user" *ngFor="let element of array; let i = index">
            <div class="info-user-content">
                <div class="info">
                    <img src="http://localhost:4200/assets/{{element.ImagePath}}" alt="your image" height="200" width="800">
                  </div>
                </div>
  
              <div class="info">
                <p class="title">Title</p>
                <p class="description">{{element.Title}}</p>
              </div>
  
              <div class="info">
                <p class="title"> Description:</p>
                <p class="description">{{element.Text}}</p>
              </div>
        
              <div class="info">
                <p class="title"> Expires in:</p>
                <p class="description">{{element.PropEndDate}}</p>
              </div>
    </div>
    </div>
    </div>
    <div class="usercontent">
      <div class="userinfo_middle">
        <b>{{'BONUS_INFO'| translate}}</b>
          <div *ngIf="persondiscount.group === 129376"> {{'GROUP' | translate}}
              <b>{{'BONUS_GROUP_5minus'| translate}}</b>
            </div>
            <div *ngIf="persondiscount.group === 129364">{{'GROUP' | translate}}
              <b>{{'BONUS_GROUP_0'| translate}}</b>
            </div>
            <div *ngIf="persondiscount.group === 2695">{{'GROUP' | translate}}
              <b>{{'BONUS_GROUP_5'| translate}}</b>
            </div>
            <div *ngIf="persondiscount.group === 2654">{{'GROUP' | translate}}
              <b>{{'BONUS_GROUP_10'| translate}}</b>
            </div>
        <div>{{'DISCOUNT'| translate}}
          <b>{{persondiscount.discount}}</b>
        </div>
        <div>{{'BONUS'| translate}}
          <b>{{persondiscount.bonussum}}</b>
        </div>
        <div>{{'ACCUMULATION'| translate}}
          <b>{{persondiscount.accumulation}}</b>
        </div>
        <div>{{'BONUSSUM'| translate}}
          <b>{{persondiscount.bonussum}}</b>
        </div>
      </div>
     
                <div class="qrCode">
                    <app-qrcode [myAngularxQrCode]="userCode"></app-qrcode>
                    {{'QR' | translate}}
                </div>
</div>
         
  
  <div class="form-popup" id="myForm">
      <form class="form-container" [formGroup]="changeForm">
        <label for="firstname"><b>{{'NAME' | translate}}</b></label>
        <input type="text" formControlName="FirstName" class="form-control" id="name" placeholder="{{'NAME' | translate}}" name="firstname" required>
        <label for="lastname"><b>{{'LAST_NAME' | translate}}</b></label>
        <input type="text" formControlName="LastName" class="form-control" placeholder="{{'LAST_NAME' | translate}}" id="lastname" name="lastname" required>
        <label id="patronymic" for="patronymic"><b>По-батькові</b></label>
        <input type="text" formControlName="Patronymic" id="patronymic" class="form-control" placeholder="По-батькові" name="patronymic" required>
        <label for="mphone"><b>{{'PHONE_NUMBER' | translate}}</b></label>
        <input type="text" formControlName="MobilePhone" id="phone" class="form-control" placeholder="{{'PHONE_NUMBER' | translate}}" name="mphone" required>
        <label for="email"><b>Email</b></label>
        <input type="text" formControlName="EMail" id="email" class="form-control" placeholder="Email" name="email" required>
        <button type="submit" class="btn submit" (click)="sendNewData()">{{'SUBMIT' | translate}}</button>
        <button type="submit" class="btn cancel" (click)="closeForm()">{{'CANCEL' | translate}}</button>
      </form>
    </div>
  
    <div class="form-popup" id="mesForm">
        <form class="form-container" [formGroup]="mesForm">
          <textarea formControlName="Text" class="textarea" name="message" rows="20" cols="20"></textarea>
          <button type="submit" class="btn submit" (click)="sendMes()">Send</button>
          <button type="submit" class="btn cancel" (click)="closeMesForm()">Close</button>
        </form>
    </div>
</div>
</div>