.login {
  width: 310px;
  margin: auto;
  font-size: 16px;
  padding: 10px;
  border: 1px solid black;
  background: #0000008a;
  color: white;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header{
  width: fit-content;
  margin: auto;
  border-bottom: 2px solid #007bff;
  padding: 7px !important;
}

.button-block{
  width: fit-content;
  margin: auto;
  margin-top: 2%;
}

.login-header {
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.login-container {
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
  color: #555;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #007bff !important;
}

.login input[type="submit"] {
  cursor: pointer;
}

.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}

.background1{
  background: url('https://moemisto.ua/img/cache/event_huge/event/0002/66/07f9b58ee4361516d648405230762a72d909b09f.jpeg?hash=2018-04-11-11-18-43');
  background-size: 100%;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.background2{
  background: #00000024;
  // padding-top: -15%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
