.qrWrapper {
    //background-color: darkgreen;

    display: flex;
    object-position: 5px 10%;
    size: 100px;

    margin: auto;
    
    align-content: center;
    text-align: center;
    align-self: center;
}

qrcode {
    text-align: center;
}